name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.svg
          user: miralemzhang
          template: classic
          config_timezone: Asia/Shanghai
          
          base: header, activity, repositories
          base_indepth: yes
          
          plugin_languages: yes
          plugin_languages_limit: 6
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          plugin_languages_threshold: 1%

          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
